<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crear producto</h1>
    <form action="/products/create" method="POST">
        <label for="text">ID</label> <br>
        <input type="text", id="id", name="id"> <br>

        <label for="text">Nombre</label> <br>
        <input type="text", id="name", name="nombre"> <br>

        <label for="text">Precio</label> <br>
        <input type="text", id="precio", name="precio"> <br>

        <label for="text">Descripcion</label> <br>
        <input type="text", id="descripcion", name="descripcion"> <br>

        <label for="text">Marca</label> <br>
        <input type="text", id="marca", name="marca"> <br>

        <label for="text">Stock</label> <br>
        <input type="text", id="stock", name="stock"> <br>

        <button type="submit">Crear producto</button>
    </form>
</body>
</html>